h1 {
	font-weight: bold;
}

.chapter {
	// float: both;
	// clear: both;
}

// body {
// 	padding: 0rem 0em;
// 	margin-left: auto;
// 	margin-right: auto;
// 	width: 100%;
// }

body {
	// overflow-x: hidden;
}

body > * {
	margin-right: 2.5rem;
	margin-left: 11.5rem;
}

p {
	font-family: "Playfair PT";
	font-size: 20px;
}

// .row { background-color: #000; }