h1 {
	font-weight: bold;
}

.chapter {
	// float: both;
	// clear: both;
}

// body {
// 	padding: 0rem 0em;
// 	margin-left: auto;
// 	margin-right: auto;
// 	width: 100%;
// }

body {
	// overflow-x: hidden;
}

body > * {
	margin-right: 2.5rem;
	margin-left: 10rem;
}

p {
	font-family: "Playfair PT";
	font-size: 16px;
}

.dl-horizontal dt {
	white-space: normal;
}

// .glyphicon-home {
// 	margin: 0 30%;
// 	padding: 50px;
// 	border: 1px solid #000;
// 	font-size: 50px;
// 	color: #000;
// }

// .knight {
// 	display: block;
// 	margin: 0 35%;
// 	background: url("../images/knight.png") no-repeat;
// 	border: 1px solid #000;
// 	height: 55px;
// 	width: 55px;
// 	padding: 50px;
// }

// .row { background-color: #000; }